.banner {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem;

  background-color: teal;
  opacity: 0.8;
  color: #fff;
}
.hours {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.contact {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
