.footer {
  padding: 2.5rem 1rem 2.5rem;
  /* border-top: 1px solid #aeaeae; */
}
.footer__container {
  display: grid;
  row-gap: 5rem;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-top: 2rem;
}
.footer__contact ul li {
  display: flex;
  align-content: center;
  column-gap: 1rem;
  padding-bottom: 1rem;
}
.socials {
  display: grid;
  gap: 0.5rem;
  cursor: pointer;
}
.socials a {
  margin-right: 15px;
  cursor: pointer;
}
.footer__content {
  display: grid;

  row-gap: 2rem;
}
.footer__title,
.footer__subtitle {
  font-size: var(--h3-font-size);
}
.footer__title {
  margin-bottom: var(--mb-0-5);
}

.footer__description {
  margin-bottom: var(--mb-2);
}
.footer__social {
  font-size: 1.25rem;
  color: var(--blue-color);
  margin-right: var(--mb-1-25);
  cursor: pointer;
}
.footer__subtitle {
  margin-bottom: var(--mb-1);
}

.footer__item {
  margin-bottom: var(--mb-0-75);
}

.footer__link {
  color: var(--text-color);
}

.footer__link:hover {
  color: var(--blue-color);
}
.footer__rights {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 1.5rem;
}
.footer__copy,
.footer__terms__link {
  font-size: var(--small-font-size);
  color: #889;
}
.footer__terms {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer {
  }
  .footer__content {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  .footer__contact {
    padding: 4.5rem 1rem 2rem;
    flex-direction: row;
    column-gap: 5rem;
  }

  .socials {
    display: grid;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .footer__content {
    justify-items: center;
  }
}
