@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --header-height: 3.5rem;

  /* COLORS */
  --body--color: #f7f7f8;
  --black-color: #1b1f22;
  --card-color: #e6e6e6;
  --title-color: #1b1f22;
  --text-color: #676c6f;
  --text-color-light: #bdc0c2;
  --white-color: #fff;
  --blue-color: #0070f3;
  --gray-color: #f7f9fa;
  --teal-color: teal;

  /* TYPOGRAPHY AND FONT */
  --body-font: "Lato", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* FONT WEIGHT */
  --font-bold: 700;

  /* Z-INDEX */
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  background: var(--body--color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
img {
  height: auto;
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}

h1,
h2,
h3,
p {
  line-height: 1.4;
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

/* REUSABLE CLASSES */
.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.section {
  padding: 4.5rem 0 2rem;
}

/* BREAKPOINTS FOR CONTAINER */
@media screen and (min-width: 1320px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
